{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}

<!--==============================Content=================================-->
		<div class="content"><div class="ic"> </div>

		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
			<div class="container_12">
				<div class="grid_7">
					<h3>Área Clientes</h3>
											<h5>
							{% for cliente in Clientes %}
							{{cliente.nombre}} <br>
							{{cliente.apellido}}<br>
							{{cliente.pasaporte}}<br>
							{{cliente.vencimiento}}<br>
							{{cliente.dni}}<br>
							{{cliente.domicilio}}<br>
							{{cliente.telefono}}<br>
							{% endfor %}

						</h5>

					

{% endblock %}