{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<!--==============================Content=================================-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
<div class="container_12">
	<div class="grid_4">
		<div class="banner">
			<img src="{% static 'images/ban_img1.jpg' %}" alt="">
			<div class="label">
				<div class="title">Barcelona</div>
				<div class="price">FROM<span>$ 1000</span></div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="banner">
			<img src="{% static 'images/ban_img2.jpg' %}" alt="">
			<div class="label">
				<div class="title">GOA</div>
				<div class="price">FROM<span>$ 1.500</span></div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="banner">
			<img src="{% static 'images/ban_img3.jpg' %}" alt="">
			<div class="label">
				<div class="title">PARIS</div>
				<div class="price">FROM<span>$ 1.600</span></div>
				<a href="#">LEARN MORE</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>


	<!--  acá iba el grid 6 -->>


	<div class="grid_5 prefix_1">
		<h3>Welcome</h3>
		<img src="{% static 'images/page1_img1.jpg' %}" alt="" class="img_inner fleft">
		<div class="extra_wrapper">
			<p>Lorem ipsum dolor sit ere amet, consectetur ipiscin.</p>
			In mollis erat mattis neque facilisis, sit ametiol
		</div>
		<div class="clear cl1"></div>
		<p>Find the detailed description of this <span class="col1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="dofollow">freebie</a></span> at TemplateMonster blog.</p>
		<p><span class="col1"><a href="http://www.templatemonster.com/category/travel-website-templates/" rel="nofollow">Travel Website Templates</a></span> category offers you a variety of designs that are perfect for travel sphere of business.</p>
		Proin pharetra luctus diam, a scelerisque eros convallis
		<h4>Clients’ Quotes</h4>
		<blockquote class="bq1">
			<img src="{% static 'images/page1_img2.jpg' %}" alt="" class="img_inner noresize fleft">
			<div class="extra_wrapper">
				<p>Duis massa elit, auctor non pellentesque vel, aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh. </p>
				<div class="alright">
					<div class="col1">Miranda Brown</div>
					<a href="new-paquete/" class="btn">More</a>
				</div>
			</div>
		</blockquote>
	</div>
	
</div>
</div>
{% endblock %}

{% block footers %}
{% endblock %}